.todo-container {
  margin: 0.6rem 0;
  border-radius: 0.3rem;
  box-shadow: 0 0 0.2rem rgb(206, 206, 206);
  background-color: rgb(249, 249, 249);
}

.todo-container__title {
  margin: 0.4rem 0;
}

.todo-container__form {
  margin-top: 0.8rem;
  display: flex;
  flex-direction: column;
}

.todo-container__field {
  margin-bottom: 0.4rem;
}

.todo-container__description {
  resize: vertical;
}

.todo-container__notice {
  margin: 0.3rem 0 0.5rem;
  color: rgb(255, 50, 50);
}
