.task-item {
  position: relative;
  margin: 0.3rem 0;
  padding: 0.6rem;
  border-radius: 0.3rem;
  border: 1px solid rgb(203, 203, 203);
}

.task-item__author {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.3rem;
}

.task-item__authors-name {
  margin-right: 1%;
}

.task-item__authors-email {
  opacity: 0.5;
}

.task-item__description {
  margin: 0.8rem 0 0;
}

.task-item__separator {
  opacity: 0.4;
}

.task-item__labels {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2rem;
}

.task-item__label {
  margin-bottom: 0.2rem;
  padding: 0.2rem 0.4rem;
  border-radius: 0.3rem;
}

.task-item__label.edited {
  background-color: var(--notice-color);
  color: #fff;
}

.task-item__label.done {
  background-color: var(--brand-color);
  color: #fff;
}

.task-item__label:not(:last-child) {
  margin-right: 0.2rem;
}
