.task-item {
  position: relative;
  margin: 0.3rem 0;
  padding: 0 0.4rem;
  border: 1px solid transparent;
  background-color: rgb(237, 241, 246);
}

.task-item.completed {
  border-color: rgb(3, 164, 59);
}

.task-item.completed::after {
  content: '✓';
  font-size: 1.4rem;
  position: absolute;
  right: 1%;
  top: 8%;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  border: 1px solid rgb(3, 164, 59);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(3, 164, 59);
}

.task-item__author {
  display: flex;
}

.task-item__authors-name {
  margin-right: 1%;
}

.task-item__authors-email {
  opacity: 0.5;
}
