.login-modal__container {
  max-width: 35rem;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 0.3rem;
  border: 1px solid rgb(215, 215, 215);
}

.login-modal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.login-modal__title {
  margin: 0;
}

.login-modal__form {
  display: flex;
  flex-direction: column;
}

.login-modal__input {
  margin-bottom: 0.6rem;
}

.login-modal__notice {
  margin: 0;
  padding: 0.3rem 0 0.8rem;
  color: var(--error-color);
}
